<div class="card mx-auto my-2" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="result"></div>
      </li>
    </ul>
  </div>

<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/header.js"></script>

</body>
</html>